@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .centered{
  text-align: center;
} */
/* ============================ NAVBAR ============================= */
header {
  display: flex;
  align-items: center;
  background-color: #333;
  font-family: 'Rubik';
}

.logo {
  margin-left: 1rem;
  font-size: 1.5rem;
  letter-spacing: 1.2rem;
  padding: 1.5rem 2rem;
  color: white;
}

.site-nav {
  margin-left: auto;
}

.site-nav .nav-items {
  display: flex;
  list-style: none;
}

.nav-items li a {
  display: flex;
  padding: 1.5rem 2rem;
  text-transform: uppercase;
  color: white;
}

.nav-items li a:hover,
.logo:hover {
  color: #81b214;
  transition: color 150ms ease-in;
}

.no-decor {
  text-decoration: none;
}

li .active {
  background-color: #cc5500;
}

/* ============================ INTRO ============================= */
#intro {
  background-image: url('img/molecule.jpg');
  background-position: center;
  background-attachment: fixed;
  border: .5px solid #ccc;
}


#intro .container {
  width: 70%;
  display: flex;
  justify-content: center;
  /* border: 2px ridge red; */
  margin: 7% auto 0;
  padding: 2%;
}

.chalkboard {
  border: 7px ridge #855E42;
  background-color: #333;
  width: 700px;
  height: 420px;
  font-family: 'Coming Soon';
  font-size: 1.2rem;
  color: white;
  padding: 1%;
}

.info {
  /* background-color: grey; */
  margin-top: 3rem;
  padding: 1%;
}

.details {
  margin-left: 2rem;
}

.chalkboard h3 {
  text-align: center;
}

.chalkboard p {
  margin: 1.5% 0;
}

.yellow-chalk {
  color: yellow;
}

#intro .container-icon {
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 0 auto 8%;
}

#intro .fa-chevron-down {
  color: orange;
  margin-top: 30%;
}

/* ============================ MISSION ============================= */
.scroll-container{
  scroll-behavior: smooth;
}

#mission{
  background-color: #d57149;
  border: .5px solid #d57149;
  color: #065446;
}

#mission .container{
  width: 70%;
  margin: 0 auto;
  font-family: 'Rubik';
}

.container .mission-statement{
  margin: 5% auto;
  padding: 0 20%;
  text-align: center;
}

.mission-statement h2{
  margin-bottom: 5%;
  text-transform: uppercase;
}

.mission-statement p{
  line-height: 2.2rem;
  font-size: 1.5rem;
}

/* ============================ MEETINGS ============================= */
#meetings .container{
  width: 70%;
  margin: 0 auto;
  font-family: 'Rubik';
  padding: 5% 0;
  text-align: center;
}

.container h1{
  text-transform: uppercase;
}


.container .join{
  display: flex;
  justify-content: space-around;
  margin: 5% auto;
  line-height: 2rem;
}

.join p{
  font-size: 1.5rem;
}

/* ============================ SUBSCRIBE ============================= */
#subscribe{
  font-family: 'Rubik';
  background-color: #d57149;
  color: #065446;
  padding: 2%;
}

#subscribe .container{
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 2% 0;
}

#subscribe .container p{
  margin-top: 1.5%;
  font-size: 1.2rem;
}

.subscribe-container{
  display: flex;
  justify-content: center;
  margin-top: 2%;
}


input{
  width: 300px;
  height: 50px;
  border-radius: 0;
}

button{
  margin-left: 5px;
  color: #065446;
  text-transform: uppercase;
  background-color: #d57149;
  padding: 10px 30px;
  border: 2.5px solid #065446;
  font-size: 1rem;
}

/* ============================ FOOTER ============================= */
#footer{
  background-color: #333;
  color: white;
  font-family: 'Rubik';
  padding: 1.5%;
}

#footer .container{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.made-con {
  width: 40%;
}

.made-con img{
  width: 25%;
  margin: 1.5% 0;
}

/* .social-con{
  width: 40%;
} */

.social-icons{
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}

.social-icons a{
  color: white;
}

.social-icons i:hover{
  color: #81b214;
}
